#sidebarLeft {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background: #4a5dc9;
}

#btnSideBarLeft {
    margin: 10px 0 0 10px;
    position: relative;
}