<div class="container">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="form-wrapper">
                <div class="row form-group">
                    <label class="col-2 offset-2" for="mail">Email</label>
                    <input class="col-5" type="text" id="mail">
                </div>
                <div class="row form-group">
                    <label class="col-2 offset-2" for="password">Mot de passe</label>
                    <input class="col-5" type="password" id="password">
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button (click)="connexion()">Connexion</button>
                    </div>
                    <div class="col text-left">
                        <button (click)="inscription()">Inscription</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>