@import "~bootstrap/dist/css/bootstrap.css";

$bleu_fonce : #3f51b5;
$bleu_clair : #3f51b5a1;

body {
    position   : relative;
    margin     : 0;
    font-family: "Open Sans", sans-serif;

    #app-title {
        font-family: 'Times New Roman', Times, serif;
        font-size  : 4rem;
        color      : $bleu_fonce;
    }

    .iconBtn {
        border          : none;
        background-color: #f0f8ff00;
        color           : white;

        &.red {
            color: #fd5e5e;
        }
    }

    .main-content {
        margin-top: 20px;

        .card {
            border: 1px solid $bleu_clair;

            .card-header {
                background-color: $bleu_clair;
                color           : white;
            }
        }

        .form-group {
            margin: 20px 0;

            input {
                border-radius: 5px;
                border       : 1.5px solid $bleu_fonce;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    button {
        &.btnPerso {
            padding         : 10px 20px;
            background-color: $bleu_fonce;
            color           : #fff;
            text-align      : center;
            border          : none;
            border-radius   : 5px;

            &:hover {
                box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.61);
            }
        }

        &.btnLink {
            background-color: #00000000;
            border          : none;
            color           : white;

            &.blue {
                color: rgb(112, 112, 252);
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &:focus {
            outline: none;
        }
    }
}